<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TestArray</key>
	<array>
		<string>String value in the array</string>
		<integer>999</integer>
	</array>
	<key>TestBool</key>
	<true/>
	<key>TestData</key>
	<data>AP8=</data>
	<key>TestDate</key>
	<date>2018-06-02T01:47:34Z</date>
	<key>TestDict</key>
	<dict>
		<key>DictInt</key>
		<integer>789</integer>
		<key>DictString</key>
		<string>A dict string value</string>
	</dict>
	<key>TestFloat</key>
	<real>456.789</real>
	<key>TestInt</key>
	<integer>234</integer>
	<key>TestNestedDict1</key>
	<dict>
		<key>TestNestedDict2</key>
		<dict>
			<key>NestedString</key>
			<string>A nested string value</string>
		</dict>
	</dict>
	<key>TestString</key>
	<string>A string value</string>
</dict>
</plist>
